# Ruby
*.gem
*.rbc
/.bundle/
/vendor/bundle/
/spec/reports/
/coverage/
/tmp/
*.log
.ruby-version
.ruby-gemset

# Environment variables
.env
.env.*

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.iml