# Python artifacts
__pycache__/
*.pyc
.venv/
.env
.pytest_cache/

# C build artifacts
*.o
server
*.a
*.so
*.d

# COBOL artifacts
server-cobol
/server.c
/server.i
*.int
*.gnt
*.lst
*.idy

# Editor and System files
.vscode/
.idea/
*~
.DS_Store
