*
!.gitignore
!**/

!.github/workflows/*.yml

!*.org
!*.md

!ver.txt
!mcpc.pc
!*.patch
!*.c
!*.h
!*.py
!*.bash
!*.bat
!*.mk
!CMakeLists.txt
!*help.txt
!*.json
!LICENSE*.txt

!Makefile
!.indent.pro

!/AUTHORS
!/ChangeLog
!/COPYING
!/README
