# Python artifacts
__pycache__/
*.pyc
.venv/
.env
.pytest_cache/

# C build artifacts
*.o
server
*.a
*.so
*.d

# Fortran build artifacts
*.mod
firestore-server

# Editor and System files
.vscode/
.idea/
*~
.DS_Store