# Common Lisp
*.fasl
*.dx64fsl
*.lib
*.mem
*.x86f
*.sparcf
*.fas
*.dfsl
*.pfsl

# Temporary files
*~
*.swp
*.bak
.DS_Store
.ipynb_checkpoints/

# Logs
*.log

# Project specific
mcp-server
quicklisp/
dists/
tmp/
.gemini/tmp/
local-projects/